body {
    margin: 0;
}

.main {
    flex-direction: column;
    row-gap: 5px;
    background: silver;
    flex-basis: 1000px;
    height: 500px;
    padding: 5px;
    justify-content: space-between;
}

.header {
    height: 33%;
}

.content {
    height: 67%;
    flex-direction: row;
    column-gap: 5px;
    background: #5892ff;
}

.content__left {
    flex-basis: 75%;
}

.content__right {
    flex-basis: 25%;
}

.display-flex {
    display: flex;
}

.border-box-sizing {
    box-sizing: border-box;
}

.blue-box {
    background: #0358f5;
}
