@media screen and (max-width: 1271px) {
    .footer__content__contactsAndAddress__feedbackAndSubmission__wrapper {
        flex-direction: row;
    }
}

@media screen and (max-width: 1420px) {
    .wrapper {
        padding: 0 20px;
        margin: 0 auto;
    }

    .footer {
        padding-top: 36px;
        padding-bottom: 18px;
    }

    .content__news__timeArrow div {
        left: -20px;
    }
}

@media screen and (max-width: 1360px) {
    .wrapper {
        padding: 0 20px;
        margin: 0 auto;
    }

    .footer {
        padding-top: 36px;
        padding-bottom: 18px;
    }

    .top__box__right__add {
        display: flex;
    }

    .top__box__right {
        display: none;
    }

    .header__info-bar {
        padding-top: 15px;
    }
    .header__info-bar__logo {
        /*width: 27.47%;*/
        min-width: 27.47%;
        max-width: 30%;

    }

    .header__info-bar__logo__icon {
        width: 30.14%;
    }

    .header__info-bar__logo__icon img {
        width: 100%
    }

    .header__info-bar__logo__title {
        width: 69.86%;
    }



    .header__info-bar__working-hours {
        column-gap: 8px;
        max-width: none;
    }

    .header__info-bar__working-hours-location img {
        width: 100%;
        min-width: 20px;
    }

    .header__info-bar__location {
        width: 100%;
    }

    .header__info-bar__working-hours {
        width: 100%;
    }

    .header__info-bar__location__icon,
    .header__info-bar__working-hours__icon {
        width: 9.35%;
        /*min-width: 20px;*/
        align-items: start;
    }

    .header__info-bar__location__icon {
        /*max-width: 20px;*/
    }

    .header__info-bar__working-hours__icon div {
        height: 100%;
    }

    .header__info-bar__location__icon div {
        height: 100%;
    }

    .header__info-bar__working-hours-location {
        width: 29.4%;
    }

    .header__info-bar__working-hours-location,
    .header__info-bar__whatsApp-number {
        flex-direction: column;
        row-gap: 10px;
    }

    .header__info-bar__whatsApp-number {
        flex-direction: column-reverse;
    }

    .header__nav-bar {
        max-height: 43px;
        column-gap: 0;
    }

    .header__nav-bar__catalog__title {
        display: none;
    }

    .header__nav-bar__catalog__button {
        padding: 0 11px;
    }

    .input-group span {
        max-width: 90px;
        min-width: 90px;
    }

    .form-control {
        width: 74%;
    }

    .input-group span {
        width: 25.71%;
    }

    .header__nav-bar__left {
        column-gap: 3.42%;
        width: 60.16%;
    }

    .header__nav-bar__right {
        height: 100%;
        width: 39.29%;
    }

    .header__nav-bar__buttons {
        height: 100%;
        justify-content: space-between;
        font-size: 13px;
        line-height: 15px;
    }

    .header__nav-bar__logIn__icon,
    .header__nav-bar__selected__icon,
    .header__nav-bar__basket__icon {
        max-height: 50%;
    }


    .header__nav-bar__buttons img {
        height: 100%;
    }

    .header__nav-bar__buttons div {
        flex-direction: column;
        row-gap: 20%;
        text-align: center;
        height: 100%;
        align-content: space-between;
    }



    .content__discount__left__internal__content__leftIndicator,
    .content__discount__left__internal__content__rightIndicator {
        display: none;
    }

    .content__discount__left__internal__content__description__price {
        flex-direction: column-reverse;
    }

    .content__sections__indicatorLeft,
    .content__sections__indicatorRight {
        display: none;
    }

    .content__sections__oils,
    .content__sections__filters,
    .content__sections__radiators {
        padding-left: 20px;
        max-height: 149px;
    }

    .content__sections__oils__content {
        min-width: 55.32%;
    }

    .content__sections__filters__content {
        min-width: 40.01%;
    }

    .content__sections__radiators__content {
        min-width: 33.9%;
    }

    .content__sections__oils__content__button,
    .content__sections__filters__content__button,
    .content__sections__radiators__content__button {
        width: 76px;
        height: 23px;
    }

    .content__sections__oils img,
    .content__sections__filters img,
    .content__sections__radiators img {
        height: 83.89%;

    }
    .content__products__all__middlePart,
    .content__products__all__frontier2 {
        display: flex;
    }

    .content__products__all__frontier {
        margin: 30px 0;
    }

    .content__product__hidden768 {
        display: none;
    }

    .content__news__article__hidden {
        display: none;
    }

    .content__product {
        /*width: 32%;*/
        /*min-width: 225px;*/
        min-width: 232px;
    }

    .content__product__picture img {
        /*width: 100%;*/
        min-height: 213px;
        max-width: 270px;
        /*height: initial;*/
    }

    .content__product__buttonBar__statistics {
        display: none;
    }
    .content__product__buttonBar__basket {
        min-width: 191px;
        min-height: 46px;
        justify-content: center;
    }

    .content__news__article__info__scheme__day {
        min-height: 20px;

    }

    /*.content__news__title {*/
    /*    margin-left: 70px;*/
    /*}*/

    .footer__content {
        flex-wrap: wrap;
        /*justify-content: space-evenly;*/
        row-gap: 45px;
    }

    .footer__content__contactsAndAddress__contacts {
        min-width: 155px;
    }

    .footer__content__contactsAndAddress__address {
        min-width: 250px;
    }
    .footer__content__contactsAndAddress__feedback {
        flex-direction: column;
        min-width: 273px;
    }

    .footer__content__contactsAndAddress__submission__wrapper {
        min-width: 455px;
    }

    .footer__content__contactsAndAddress__socialNetworks {
        justify-content: flex-start;
    }

    /*Шрифти.............................*/

    .top__box__left__city__title {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }

    .top a {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }

    .header__info-bar__logo__title__main {
        font-size: 20px;
        line-height: 24px;
    }

    .header__info-bar__logo__title__additional {
        font-size: 10px;
        line-height: 14px;
    }
    .header__info-bar__working-hours__text {
        font-size: 12px;
        line-height: 18px;
    }

    .header__info-bar__location__description {
        font-size: 12px;
        line-height: 14px;
    }

    .header__info-bar__whatsApp__wrapper {
        min-height: 15px;
    }

    .header__info-bar__number__digits {
        font-size: 16px;
        line-height: 19px;
    }

    .input-group span {
        font-size: 13px;
        line-height: 17px;
    }

    .content__discount__left {
        width: 65.8%;
    }

    .content__discount__left__image > img {
        max-height: 314px;
    }

    .content__discount__right {
        width: 32.83%;
    }

    .content__discount__left__internal__content__description {
        min-width: 49.5%;
        margin-left: 4.17%;
    }

    .content__discount__left__internal__content__picture {
        min-width: 46.35%;
    }

    .content__discount__right > div {
        padding: 12px;
        min-height: 152px;
    }

    .content__discount__right__top__price,
    .content__discount__right__bottom__price {
        flex-direction: row;
        margin-top: 10px;
    }

    .content__discount__right__top__price__digits,
    .content__discount__right__bottom__price__digits {
        align-items: start;
    }

    .content__discount__right__top__price__button,
    .content__discount__right__bottom__price__button {
        width: 33%;
    }



    .content__discount__left__internal__content__description__title {
        font-size: 26px;
        line-height: 30px;
    }

    .content__discount__left__internal__content__description__code {
        font-size: 16px;
        line-height: 19px;
    }

    .content__discount__left__internal__content__description__price__old {
        font-size: 18px;
        line-height: 21px;
    }

    .content__discount__left__internal__content__description__price__new {
        font-size: 30px;
        line-height: 35px;
    }

    .content__discount__left__internal__content__description__button__title {
        font-size: 14px;
        line-height: 16px;
    }

    .content__discount__right__top__heading,
    .content__discount__right__bottom__heading {
        font-size: 12px;
        line-height: 14px;
    }

    .content__discount__right__top__content,
    .content__discount__right__bottom__content {
        column-gap: 2.9%;
    }

    .content__discount__right__top__content__description,
    .content__discount__right__bottom__content__description {
        width: 65%;
    }

    .content__discount__right__top__content__description__title,
    .content__discount__right__bottom__content__description__title {
        font-size: 13px;
        line-height: 20px;
    }

    .content__discount__right__top__content__description__code,
    .content__discount__right__bottom__content__description__code {
        font-size: 10px;
        line-height: 12px;
    }

    .content__discount__right__top__price__digits__new,
    .content__discount__right__bottom__price__digits__new {
        font-size: 18px;
        line-height: 21px;
    }

    .content__discount__right__top__price__digits__old,
    .content__discount__right__bottom__price__digits__old {
        font-size: 14px;
        line-height: 16px;
    }

    .content__discount__right__top__price__digits,
    .content__discount__right__bottom__price__digits {
        flex-direction: column-reverse;
    }



    /*.content__discount__right__top__price__button div {*/
    /*    padding: 30.77%;*/
    /*}*/

    .content__sections {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .content__sections__oils__content__header,
    .content__sections__filters__content__header,
    .content__sections__radiators__content__header {
        font-size: 18px;
        line-height: 21px;
    }
    .content__sections__oils__content__description,
    .content__sections__filters__content__description,
    .content__sections__radiators__content__description {
        font-size: 12px;
        line-height: 20px;
    }

    .content__sections__oils__content__button,
    .content__sections__filters__content__button,
    .content__sections__radiators__content__button {
        font-size: 13px;
        line-height: 15px;
    }

    .content__products__filters {
        font-size: 16px;
        line-height: 19px;
    }

    .content__products__all__topPart,
    .content__products__all__bottomPart,
    .content__products__all__middlePart {
        justify-content: space-evenly;
    }

    .content__product__feedback__rank,
    .content__product__feedback__responds {
        font-size: 13px;
        line-height: 15px;
    }

    .content__product__title {
        font-size: 15px;
        line-height: 18px;
    }

    .content__product__buttonBar__basket,
    .content__products__rest__button {
        font-size: 14px;
        line-height: 16px;
    }

    .content__news__title {
        font-size: 18px;
        line-height: 21px;
    }

    .content__news__article__info__scheme__day,
    .content__news__article__info__heading {
        font-size: 14px;
        line-height: 16px;
    }

    .content__news__article__info__text {
        font-size: 14px;
        line-height: 22px;
    }
    .footer__content__catalogue__categories a,
    .footer__content__categorizer__categories a,
    .footer__content__information__categories a,
    .footer__content__information__cards__heading {
        font-size: 13px;
        line-height: 15px;
    }

    .footer__content__information__cards__heading {
        margin-top: 15px;
    }

    .footer__content__catalogue__categories,
    .footer__content__categorizer__categories,
    .footer__content__information__categories {
        row-gap: 3px;
    }

    .footer__content__catalogue__title,
    .footer__content__categorizer__title,
    .footer__content__information__title,
    .footer__content__contactsAndAddress__contacts__title,
    .footer__content__contactsAndAddress__address__title {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__content__contactsAndAddress__contacts__text,
    .footer__content__contactsAndAddress__address__text {
        font-size: 14px;
        line-height: 16px;
    }

    .footer__content__contactsAndAddress__feedback__hyperlink a {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__content__contactsAndAddress__feedback__description,
    .footer__content__contactsAndAddress__submission {
        font-size: 16px;
        line-height: 19px;
    }

    #input-bottom,
    .footer__content__contactsAndAddress__submission__input span,
    .footer__signature {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 723px) {
    .wrapper {
        padding: 0 15px;
        margin: 0 auto;
    }


    .top {
        justify-content: flex-start;
        column-gap: 15px;
    }

    .top__box__left__city-icon {
        display: none;
    }

    .top__box__left > a {
        display: none;
    }

    .header {
        row-gap: 15px;
        height: 145px;
    }

    .header__info-bar {
        justify-content: space-between;
    }

    .header__info-bar__logo {
        min-width: 48%;
    }

    .header__info-bar__working-hours-location {
        display: none;
    }

    .header__info-bar__whatsApp-number {
        min-width: 45%;
    }

    .header__info-bar__whatsApp__description__short {
        display: flex;
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
    }

    .header__info-bar__whatsApp__wrapper {
        justify-content: center;
        width: 135px;
        height: 18px;
    }

    .header__info-bar__whatsApp {
        height: 18px;
        min-width: 135px;
    }

    .header__nav-bar__left {
        height: 34px;
    }

    .header__nav-bar__catalog__button {
        width: 34px;
    }


    .header__nav-bar__catalog {
        row-gap: 4px;
        border-radius: 4px;

    }
    .header__nav-bar__catalog__lines {
        row-gap: 4px;

    }

    .header__nav-bar__catalog__lines div {
        width: 20px;
        height: 2px;
        row-gap: 4px;
    }

    #basic-addon2 {
        display: none;
    }

    #basic-addon1 {
        display: flex;
    }

    .header__info-bar__whatsApp__description {
        display: none;
    }

    .header__nav-bar__right {
        display: none;
    }

    .header__nav-bar__left {
        width: 100%;
    }

    .header__nav-bar__input {
        min-width: 93%;
    }

    .input-group span {
        min-width: 34px;
    }

    .content__discount {
        flex-direction: column;
        row-gap: 10px;
        margin-top: 15px;
    }

    .content__discount__left {
        width: 100%;
        /*height: 314px;*/
        height: 195px;

    }
    .content__discount__left__internal__content {
        min-height: 165px;
    }

    .content__discount__left__image > img {
        min-height: 195px;
    }

    .content__discount__left__internal__content__description__button {
        padding: 6px 23px;
        column-gap: 8px;
        max-width: 124px;
    }

    .content__discount__right {
        flex-direction: row;
        width: 100%;
        column-gap: 10px;
    }

    .content__discount__right > div {
        min-height: 145px;
        min-width: 250px;
    }

    .content__discount__right__bottom__price__digits,
    .content__discount__right__top__price__digits {
        flex-direction: row;
    }

    .content__products__filters {
        column-gap: 10px;
    }
    .content__products__filters > div {
        padding: 10px 20px;
    }

    .content__products__filters__collections {
        min-width: 164px;
    }

    .content__products__filters__sale {
        min-width: 82px;
    }

    .content__products__filters__popular {
        min-width: 156px;
    }

    .content__product {
        min-width: 49%;
    }

    .content__product__picture {
        width: 100%;
    }

    .content__product__picture img {
        width: 80%;
        min-height: 127px;
        /*max-width: 270px;*/
        /*height: initial;*/
    }

    .content__product__feedback {
        margin-top: 0;
        margin-bottom: 5px;
    }


    .content__product__price {
        height: 60px;
    }

    .content__product__buttonBar {
        column-gap: 10px;
    }

    .content__product__buttonBar__basket {
        padding: 10px 17px;
        min-width: unset;
        min-height: unset;;
    }

    .content__product__buttonBar__basket__icon img {
        height: 12px;
        width: 12px;
    }

    .content__product__buttonBar__heart img {
        width: 17px;
        height: 15px;
    }

    .content__products__rest__button {
        padding: 10px 40px;
    }

    .content__sections {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .content__sections__oils,
    .content__sections__filters,
    .content__sections__radiators {
        min-width: 250px;
    }

    .content__product__hidden414 {
        display: none;
    }

    .content__products__all__frontier {
        margin: 25px 0;
    }

    .content__news__all {
        flex-direction: column;
    }

    .content__news__timeArrow {
        display: none;
    }

    .content__news__article__info__scheme {
        justify-content: center;
        align-items: flex-start;
    }

    .content__news__article__info__scheme__circle,
    .content__news__article__info__scheme__line {
        display: none;
    }

    .content__news__article__hidden {
        display: flex;
    }

    .content__news__article {
        width: 100%;
    }

    .content__news__article__info__heading {
        padding: 8px 0;
    }

    .content__news__article__info__scheme {
        justify-content: end;
        height: 40px;
    }

    .footer {
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .footer__content {
        flex-direction: column;
        row-gap: 25px;
    }

    .footer__content__catalogue__title,
    .footer__content__categorizer__title,
    .footer__content__information__title,
    .footer__content__contactsAndAddress__contacts__title,
    .footer__content__contactsAndAddress__address__title {
        margin-bottom: 4px;
    }

    .footer__content__contactsAndAddress__description {
        flex-direction: column;
    }

    .footer__content__contactsAndAddress__address {
        margin-top: 25px;
    }

    .footer__content__contactsAndAddress__feedbackAndSubmission__wrapper {
        flex-direction: column;
    }

    .footer__content__information__cards__icons img {
        height: 35px;
        width: 89px;
    }

    .mb-3 {
        width: 290px;
    }

    #input-bottom, #basic-addon3 {
        height: 34px;
    }

    #input-bottom {
        min-width: 186px;
    }

    #basic-addon3 {
        min-width: 104px;
    }

    .footer__content__contactsAndAddress__socialNetworks {
        column-gap: 40px;
    }


    .footer__signature {
        margin-top: 38px;
    }



    /*Шрифти...................................*/
    .top__box__left__city__title {
        font-size: 12px;
        line-height: 14px;
    }

    .top__box__left__info__title {
        font-size: 12px;
        line-height: 14px;
    }

    .header__info-bar__logo__title__main {
        font-size: 14px;
        line-height: 18px;
    }

    .header__info-bar__logo__title__additional {
        font-size: 8px;
        line-height: 9px;
    }

    .header__info-bar__number__digits {
        font-size: 14px;
        line-height: 16px;
    }

    .header__info-bar__number__description a {
        font-size: 10px;
        line-height: 12px;
    }

    .content__discount__left__internal__content__description__title {
        font-size: 16px;
        line-height: 19px;
    }

    .content__discount__left__internal__content__description__code {
        font-size: 10px;
        line-height: 12px;
    }

    .content__discount__left__internal__content__description__price__old {
        font-size: 14px;
        line-height: 16px;
    }

    .content__discount__left__internal__content__description__price__new {
        font-size: 20px;
        line-height: 23px;
    }

    .content__discount__left__internal__content__description__button__title {
        font-size: 12px;
        line-height: 14px;
    }

    .content__discount__left__internal__content__description__button__icon {
        width: 12px;
    }

    .content__discount__left__internal__content__description__button__icon img {
        width: 100%;
        height: 100%;
    }

    .content__discount__right__top__heading,
    .content__discount__right__bottom__heading {
        font-size: 12px;
        line-height: 14px;
    }

    .content__discount__right__top__content__description__title,
    .content__discount__right__bottom__content__description__title {
        font-size: 12px;
        line-height: 18px;
    }

    .content__discount__right__top__content__description__code,
    .content__discount__right__bottom__content__description__code {
        font-size: 10px;
        line-height: 12px;
    }

    .content__discount__right__bottom__price__digits__new,
    .content__discount__right__top__price__digits__new {
        font-size: 14px;
        line-height: 16px;
    }

    .content__discount__right__top__price__digits__old,
    .content__discount__right__bottom__price__digits__old {
        font-size: 12px;
        line-height: 14px;
    }

    .content__sections__oils__content__header,
    .content__sections__filters__content__header,
    .content__sections__radiators__content__header {
        font-size: 16px;
        line-height: 19px;
    }

    .content__sections__oils__content__description,
    .content__sections__filters__content__description,
    .content__sections__radiators__content__description {
        font-size: 10px;
        line-height: 14px;
    }
    .content__sections__oils__content__button,
    .content__sections__filters__content__button,
    .content__sections__radiators__content__button {
        font-size: 12px;
        line-height: 14px;
    }

    .content__products__filters {
        font-size: 14px;
        line-height: 16px;
    }

    .content__product__feedback__rank {
        font-size: 10px;
        line-height: 12px;
    }

    .content__product__feedback__responds {
        font-size: 10px;
        line-height: 12px;
    }

    .content__product__title {
        font-size: 12px;
        line-height: 17px;
    }

    .content__product__price__request,
    .content__product__price__request span {
        font-size: 12px;
        line-height: 14px;
    }

    .content__product__price__full {
        font-size: 14px;
        line-height: 16px;
    }

    .content__product__price__full span {
        font-size: 10px;
        line-height: 12px;
    }

    .content__product__buttonBar__basket__text {
        font-size: 12px;
        line-height: 14px;
    }

    .content__products__rest__button {
        font-size: 12px;
        line-height: 14px;
    }

    .content__news__title {
        font-size: 16px;
        line-height: 19px;
    }

    .content__news__article__info__scheme__day {
        font-size: 10px;
        line-height: 12px;
    }
    .content__news__article__info__heading {
        font-size: 14px;
        line-height: 18px;
    }

    .content__news__article__info__text {
        font-size: 12px;
        line-height: 18px;
    }

    .footer__content__catalogue__title,
    .footer__content__categorizer__title,
    .footer__content__information__title,
    .footer__content__contactsAndAddress__contacts__title,
    .footer__content__contactsAndAddress__address__title {
        font-size: 14px;
        line-height: 16px;
    }

    .footer__content__catalogue__categories a,
    .footer__content__categorizer__categories a,
    .footer__content__information__categories a {
        font-size: 12px;
        line-height: 14px;
    }

    .footer__content__contactsAndAddress__contacts__text,
    .footer__content__contactsAndAddress__address__text {
        font-size: 12px;
        line-height: 14px;
    }

    .footer__content__contactsAndAddress__feedback__description {
        font-size: 14px;
        line-height: 16px;
    }

    .footer__content__contactsAndAddress__feedback__hyperlink a {
        font-size: 13px;
        line-height: 15px;
    }

    .footer__content__contactsAndAddress__submission {
        font-size: 14px;
        line-height: 16px;
    }

    #input-bottom {
        font-size: 12px;
        line-height: 14px;
    }

    #basic-addon3 {
        font-size: 12px;
        line-height: 14px;
    }

    .footer__signature {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 400px) {
    .header__nav-bar__left {
        column-gap: 20px;
    }

    .header__nav-bar__input__class {
        width: 236px;
    }

    .content__discount__left__internal__content__description {
        min-width: 50%;
    }

    .content__products__all__topPart, .content__products__all__bottomPart, .content__products__all__middlePart {
        column-gap: 3.21%;
    }

    .content__product__picture {

    }

    .content__product {
        min-width: 49%;
    }

    .content__product__picture {
        width: unset;
    }

    .content__product__picture img {
        width: 100%;
        /*width: unset;*/
        min-height: 127px;
        /*max-width: 270px;*/
        /*height: initial;*/
    }

    .content__products__rest {
        margin: 25px 0 40px 0;
    }
}