.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    /*padding: 0 266px;*/
    padding: 0 calc(266px - (1920px - 100vw)/2);
}

body {
    margin: 0;
    padding: 0;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.display-flex {
    display: flex;
}

.column-direction {
    flex-direction: column;
}

.row-direction {
    flex-direction: row;
}

.column-gap-5px {
    column-gap: 5px;
}

.column-gap-15px {
    column-gap: 15px;
}

.column-gap-12px {
    column-gap: 12px;
}

.column-gap-30px {
    column-gap: 30px;
}

.roboto-font-family {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.white {
    color: #FFFFFF;
}

.grey-titles {
    color: #868DAC;
}

.top {
    background-color: #0F2438;
    height: 35px;
    /*column-gap: 21.49%;*/
    justify-content: space-between;
}

.top__box__left {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.top__box__left>a {
    text-decoration: none;
}

.top__box__left a {
    color: white;
}

.top__box__right {
    /*column-gap: 2.22%;*/
}

.top__box__right a,
.top__box__right__add a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.top__box__right__add {
    display: none;
}

.header {
    /*height: 196px;*/
    background-color: white;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__info-bar {
    column-gap: 5%;
    padding-top: 20px;
    box-sizing: border-box;
}

.header__info-bar__working-hours-location {
    flex-direction: row;
    /*column-gap: 50px;*/
    /*column-gap: 16.24%;*/
    column-gap: 15%;

    width: 38.04%;
    align-items: flex-start;
}

.header__info-bar__whatsApp-number {
    width: 31.83%;
    align-items: end;
}

.header__info-bar__logo {
    /*max-width: 25.55%;*/
    max-width: 26%;

    height: 100%;
    justify-content: center;
}

.header__info-bar__logo__icon {
    width: 26.83%;
}

.header__info-bar__logo__title {
    padding: 5px;
    box-sizing: border-box;
}

.header__info-bar__logo__title__main {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}

.header__info-bar__logo__title__additional {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.header__info-bar__working-hours {
    max-width: 246px;
}

.header__info-bar__working-hours__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    /*padding: 10px 10px 10px 0;*/
    box-sizing: border-box;
}

/*.header__info-bar__working-hours {*/
/*    column-gap: 8px;*/
/*}*/

.header__info-bar__location {
    column-gap: 8px;
}

.header__info-bar__location__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /*padding: 10px;*/
    box-sizing: border-box;
}

.header__info-bar__whatsApp {
    background: #E1EFD0;
    flex-direction: row;
    /*max-height: 30px;*/
    width: 47.33%;
    /*width: 100%;*/
    min-width: 182px;

}
.header__info-bar__whatsApp__wrapper {
    width: 100%;
    /*margin: 8px 16px;*/
    max-width: 204px;
    flex-direction: row;
    column-gap: 3.92%;
    box-sizing: border-box;
    border-radius: 2px;
    justify-content: center;
    min-height: 30px;

}

.header__info-bar__whatsApp__description {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.header__info-bar__number {
    flex-direction: column;
    /*width: 52.69%;*/
    width: 100%;

}

.header__info-bar__number__digits {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: right;


}
.header__info-bar__number__description {
    text-align: right;
    min-width: 130px;
}

.header__info-bar__number__description a {
    color: #0F2438;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    opacity: 0.7;
}


.header__nav-bar {
    column-gap: 5.53%;
    flex-direction: row;
    height: 53px;
    width: 100%;
    /*justify-content: space-evenly;*/
    margin-bottom: 20px;
}

.header__nav-bar__left {
    /*column-gap: 30px;*/
    column-gap: 3.56%;
    width: 62.26%;
}

.header__nav-bar__right {
    /*min-width: 30.28%;*/
    width: 32.2%;
    /*min-width: 50.74%;*/
    /*justify-content: space-evenly;*/
}


.header__nav-bar__catalog {
    background-color: #005BB9;
    border-radius: 6px;
    flex-direction: row;
}

.header__nav-bar__catalog__button {
    padding: 0 32px;
    column-gap: 16px;
    box-sizing: border-box;
}

.header__nav-bar__catalog__lines {
    width: 20px;
    flex-direction: column;
    row-gap: 2px;
}

.header__nav-bar__catalog__lines div {
    height: 3px;
    background-color: white;
}

.header__nav-bar__catalog__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.input-group {
    height: 100%;
    justify-content: center;
    width: 100%;
    /*min-width: 649px;*/
}

.form-control {
    background-color: #F4F5FA;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    width: 84.59%;
}

.input-group span {
    background-color: #005BB9;
    border-radius: 0 6px 6px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
}

.input-group a {
    width: 15.41%;
}

.header__nav-bar__input {
    width: 76.99%;
}

.header__nav-bar__buttons > div {
    height: 100%;
}

.header__nav-bar__buttons {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /*text-align: center;*/
    /*height: 32px;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-start;*/
    /*justify-content: space-around;*/

}

.header__nav-bar__logIn__wrapper {
    width: 28.7%;
    justify-content: center;
    border-right: 1px solid #E1E5F8;
    max-height: 100%;
}

.header__nav-bar__selected__wrapper {
    width: 38.82%;
    justify-content: center;
    border-right: 1px solid #E1E5F8;
    max-height: 100%;

}

.header__nav-bar__basket__wrapper {
    width: 32.47%;
    justify-content: right;
    border-left: 1px solid #E1E5F8;
    height: 100%;
    max-height: 100%;
}

.header__nav-bar__logIn {
    height: 100%;
    /*column-gap: 13%;*/
}

.header__nav-bar__selected {
    height: 100%;
    /*column-gap: 13%;*/
}

.header__nav-bar__basket {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    /*max-height: 100%;*/
    /*column-gap: 13%;*/
}


.content {
    flex-direction: column;
}

.content__discount {
    column-gap: 10px;
    margin-top: 30px;
    /*height: calc(100vw  * 28.8%);*/
    /*height: ;*/
    width: 100%;
    /*height: 390px;*/
}

.content__discount__left {
    /*height: 390px;*/
    /*height: 100%;*/
    /*height: calc(100vw  * 28.8%);*/
    width: 74.45%;
    /*position: relative;*/
    /*height: 100%;*/

}

.content__discount__left__image {
    width: 100%;
    height: 100%;
    position: relative;
}

.content__discount__left__image__wrapper {
    /*width: 65.8%;*/
    /*height: 100%;*/
}

.content__discount__left__image > img {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    min-height: 314px;
    /*height: 100%;*/
}

.content__discount__left__internal {
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.content__discount__left__internal__content {
    align-items: center;
    /*min-height: 258px;*/
    min-height: 278px;
    min-width:  33%;
}

.content__discount__left__internal__content__leftIndicator,
.content__discount__left__internal__content__rightIndicator {

}

.content__discount__left__internal__content__description {
    flex-direction: column;
    /*width: 324px;*/
    /*width: 32.14%;*/
    width: 40.14%;

    box-sizing: border-box;
    row-gap: 10px;
    margin-left: 5%;
}

.content__discount__left__internal__content__description__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.content__discount__left__internal__content__description__code {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.content__discount__left__internal__content__description__price {
    flex-direction: row;
}

.content__discount__left__internal__content__description__button {
    max-height: 49px;
    max-width: 160px;
    background: #005BB9;
    border-radius: 6px;
    padding: 15px 30px;
    column-gap: 8px;
}
.content__discount__left__internal__content__description__price__new {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    max-height: 50px;

}

.content__discount__left__internal__content__description__price__old {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.content__discount__left__internal__content__description__button__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.content__discount__left__internal__content__picture {
    width: 41.37%;

}
.content__discount__left__internal__content__picture img {
    width: 100%;
    /*margin-left: 5%;*/
}

.content__discount__left__internal__indicators {
    justify-content: center;
    column-gap: 22px;
}

.content__discount__left__internal__indicators a {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #0D1C2B;
    background-color: white;
}

.content__discount__right {
    /*position: relative;*/
    flex-direction: column;
    /*row-gap: 2.56%;*/
    row-gap: 10px;
    /*height: 100%;*/
    /*height: calc(100vw  * 28.8%);*/
    width: 24.80%;

}
.content__discount__right > div {
    /*height: 6%;*/
    /*height: 190px;*/
    /*width: 336px;*/
    /*width: 24.82%;*/
    height: 48.5%;
    width: 100%;

    border-radius: 10px;
    background-color: #F4F5FA;
    padding: 20px 15px;
    /*padding: 10.53% 4.46%;*/

    flex-direction: column;
}

.content__discount__right__top__heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.content__discount__right__top__content {
    flex-direction: row;
    margin-top: 6.25%;
    column-gap: 4.9%;
}

.content__discount__right__top__content__picture {
    /*width: 26.14%;*/
    width: 31%;
}

.content__discount__right__top__content__picture img {
    width: 100%;
    max-height: 74px;
    max-width: 80px;
}

.content__discount__right__bottom__content__picture {
    /*width: 26.14%;*/
    width: 31%;
}

.content__discount__right__bottom__content__picture img {
    width: 100%;
    max-height: 75px;
    max-width: 96px;
}

.content__discount__right__top__content__description {
    flex-direction: column;
    /*width: 68.95%;*/
    width: 63%;

}

.content__discount__right__bottom__content__description {
    flex-direction: column;
    width: 63%;
}

.content__discount__right__top__content__description__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.content__discount__right__top__content__description__code,
.content__discount__right__bottom__content__description__code {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    margin-top: 4px;
}

.content__discount__right__top__price,
.content__discount__right__bottom__price {
    flex-direction: row;
}

.content__discount__right__top__price__digits,
.content__discount__right__bottom__price__digits {
    flex-direction: row;
    width: 81.37%;
    column-gap: 3.25%;
}

.content__discount__right__top__price__digits__new,
.content__discount__right__bottom__price__digits__new {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}

.content__discount__right__top__price__digits__old,
.content__discount__right__bottom__price__digits__old {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.content__discount__right__top__price__button {
    /*width: 18.63%;*/
    /*position: relative;*/
    justify-content: center;
    width: 26.5%;
    max-height: 49px;
    max-width: 57px;
}

.content__discount__right__top__price__button div {
    /*position: absolute;*/
    /*height: 49px;*/
    /*width: 57px;*/
    height: 100%;
    width: 100%;

    background-color: #005BB9;
    border-radius: 6px;
    /*bottom: -6px;*/
    /*padding: 10px 20px;*/
    padding: 20% 35%;

}

.content__discount__right__top__price__button img {
    /*width: 100%;*/
    /*width: 30%;*/
    /*box-sizing: border-box;*/

}

.content__discount__right__bottom__heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.content__discount__right__bottom__content {
    flex-direction: row;
    margin-top: 6.25%;
    column-gap: 4.9%;
}

.content__discount__right__bottom__content__description__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.content__discount__right__bottom__price__button {
    /*width: 18.63%;*/
    /*position: relative;*/
    justify-content: center;
    width: 26.5%;
    max-height: 49px;
}

.content__discount__right__bottom__price__button div {
    /*position: absolute;*/
    /*height: 49px;*/
    /*width: 57px;*/

    height: 100%;
    width: 100%;
    background-color: #005BB9;
    border-radius: 6px;
    padding: 20% 35%;
    /*padding: 10px 20px;*/
}

.content__sections {
    padding: 70px 0;
    flex-direction: row;
    column-gap: 2.21%;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
}

.content__sections__indicatorLeft {
    position: absolute;
    left: -40px;
    top: 40%;
}

.content__sections__indicatorRight {
    position: absolute;
    right: -40px;
    top: 40%;
}




.content__sections__oils,
.content__sections__filters,
.content__sections__radiators {
    height: 184px;
    width: 31.86%;
    min-width: 292px;
    max-width: 431px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 30px;
    /*position: relative;*/
    /*justify-content: center;*/
}

.content__sections__oils__imageWrapper{
    /*width: 50%;*/
    width: 35.73%;
    /*justify-content: flex-end;*/
    flex-grow: 1;
}

.content__sections__filters__imageWrapper {
    width: 36.43%;
    flex-grow: 1;
}

.content__sections__radiators__imageWrapper {
    width: 46.4%;
    flex-grow: 1;
}


.content__sections__oils__image,
.content__sections__filters__image,
.content__sections__radiators__image {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.content__sections__oils img,
.content__sections__filters img,
.content__sections__radiators img {
    width: auto;
}

.content__sections__oils__content,
.content__sections__filters__content,
.content__sections__radiators__content {
    flex-direction: column;
    margin: 25px 0;
    row-gap: 11px;
    width: 48%;
}

.content__sections__oils__content__header,
.content__sections__filters__content__header,
.content__sections__radiators__content__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.content__sections__oils__content__description,
.content__sections__filters__content__description,
.content__sections__radiators__content__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.content__sections__oils__content__button,
.content__sections__filters__content__button,
.content__sections__radiators__content__button {
    background-color: #005BB9;
    border-radius: 4px;
    color: #FFFFFF;
    width: 86px;
    justify-content: center;
    height: 30px;
}




.content__products__filters {
    column-gap: 20px;
    color:  #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
}


.content__products__filters > div {
    padding: 16px 32px;
    background: #005BB9;
    border-radius: 6px;
}

.content__products__all__topPart,
.content__products__all__bottomPart,
.content__products__all__middlePart {
    column-gap: 2.21%;
    flex-direction: row;
    justify-content: space-between;
}

.content__product {
    width: 23.34%;
    min-width: 316px;
    flex-direction: column;
}

.content__product__picture {
    max-height: 244px;
}

.content__product__picture img {
    width: 100%;
    min-height: 244px;
    height: 100%;
}

.content__product__feedback {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content__product__feedback__rank {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    padding-left: 3px;
}

.content__product__feedback__responds {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    padding-left: 10px;
}

.content__product__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.content__product__price {
    height: 70px;
    align-items: center;
}

.content__product__price__request {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.content__product__price__full {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.content__product__price__full span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.content__product__price__request span {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.content__product__buttonBar {
    column-gap: 20px;
}

.content__product__buttonBar__basket {
    padding: 15px 30px;
    column-gap: 8px;
    background: #005BB9;
    border-radius: 6px;
    color: #FFFFFF;
}

.content__products__all__middlePart {
    display: none;
}

.content__products__all__frontier2 {
    display: none;
}

.content__products__all__frontier {
    width: 100%;
    background: #E1E5F8;
    margin: 40px 0;
    height: 1px;
}

.content__products__rest {
    margin: 40px 0 80px 0;
    justify-content: center;
}

.content__products__rest a {
    text-decoration: none;
}

.content__products__rest__button {
    padding: 15px 40px;
    background-color: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    color: #005BB9;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
}

.content__news__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.content__news__timeArrow {
    height: 9px;
    margin: 0 0;
    position: relative;
    padding: 0 0;

}

.content__news__timeArrow div {
    background-color: #F5F5F5;
    height: 9px;
    position: absolute;
    width: 98vw;
    left: calc(((100vw - 1354px) / 2 - (100vw - 1354px)));
    justify-content: center;
    top: 9px;
}

.content__news__all {
    column-gap: 4.06%;
    margin-bottom: 120px;
    justify-content: space-evenly;
}

.content__news__article__info {
    flex-direction: column;

}

.content__news__article {
    width: 21.96%;
    min-width: 200px;
}

.content__news__article__info__scheme {
    flex-direction: column;
    width: 121px;
    height: 52px;
}

.content__news__article__info__scheme__circle {
    height: 9px;
    width: 9px;
    background-color: #0C1A2A;
    border-radius: 50%;
    z-index: 1;
}


.content__news__article__info__scheme__line div {
    width: 53px;
    height: 19px;
}
.content__news__article__info__scheme__line .first {
    border-right: 1px solid #0C1A2A;
}
.content__news__article__info__scheme__day {
    background: #0C1A2A;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 19px;
    padding-right: 18px;
}

.content__news__article__info__heading {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
    padding-top: 15px;
    padding-bottom: 20px;
}

.content__news__article__info__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;

}

.footer {
    background: #0C1A2A;
    padding-top: 36px;
    padding-bottom: 18px;
    min-height: 408px;
}

.footer__content__catalogue__categories a,
.footer__content__categorizer__categories a,
.footer__content__information__categories a {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.footer__content {
    column-gap: 2%;
}

.footer__content__catalogue {
    width: 13.8%;
    min-width: 165px;
}

.footer__content__categorizer {
    width: 17.28%;
    min-width: 210px;
}

.footer__content__information {
    width: 28.13%;
    min-width: 280px;
}

.footer__content__catalogue__categories,
.footer__content__categorizer__categories,
.footer__content__information__categories {
    row-gap: 14px;
}

.footer__content__catalogue__title,
.footer__content__categorizer__title,
.footer__content__information__title,
.footer__content__contactsAndAddress__contacts__title,
.footer__content__contactsAndAddress__address__title {
    margin-bottom: 14px;
}

.footer__content__information__cards__heading {
    margin-top: 45px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.footer__content__contactsAndAddress {
    width: 34.79%;
}

.footer__content__contactsAndAddress__description {
    column-gap: 10%;
}

.footer__content__contactsAndAddress__contacts {
    width: 39.26%;
}

.footer__content__contactsAndAddress__address {
    width: 50.74%;
}

.footer__content__contactsAndAddress__feedbackAndSubmission__wrapper {
    flex-direction: column;
}

.footer__content__contactsAndAddress__feedback {
    margin-top: 23px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
    column-gap: 23px;
}

.footer__content__contactsAndAddress__feedback__hyperlink a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__content__contactsAndAddress__submission__wrapper {
    flex-direction: column;
}

.footer__content__contactsAndAddress__submission {
    margin-top: 23px;
    margin-bottom: 19px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.footer__content__contactsAndAddress__submission__input span {
    height: 40px;
    background-color: #005BB9;
    border-radius: 0 6px 6px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 38px 11px 40px;
    box-sizing: border-box;
    border-color: #005BB9;
    text-align: center;

}

#input-bottom {
    height: 40px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px 0 0 6px;
    background: #0C1A2A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}

#basic-addon3 {
    min-width: 159px;
}

.footer__content__contactsAndAddress__socialNetworks {
    column-gap: 55px;
    justify-content: right;
}

.footer__signature {
    margin-top: 47px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
}